div.auth-container {
    width: 500px;
    min-height: 800px;
    height:  100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    background-color: white;

    
    


    div.div-input-container {
        position: relative;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        z-index: 5;
        min-height: 500px;
        margin: 0 auto;

        div.div-logo {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                position: relative;
                width: 120px;
                height: 120px;
                display: block;
            }
            
        }

        div.div-input-verity-code {
            box-sizing: border-box;
            width: 100%;
            height: 52px;
            margin-bottom: 8px;
            font-size: 18px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            background: rgb(255, 255, 255);
            border-width: 1px;
            border-style: solid;
            border-color: rgb(231, 231, 231);
            border-image: initial;
            border-radius: 4px;
            outline: none;

            input {
                font-size: 18px;
                width: 256px;
                letter-spacing: 30px;
                margin: 0px 10px 0px 40px;
                border-width: initial;
                border-style: none;
                border-color: initial;
                border-image: initial;
                outline: none;
            }
        }

        div.div-input-code {
            margin-top: 32px;
            a.count {
                font-size: 16px;
                text-decoration: none;
                display: inline-block;
                margin-right: 8px;
                font-weight: bold;
                color: rgb(111, 190, 73);
                pointer-events: auto;
            }
        }

        div.div-text-sdt {
            color: rgb(26, 26, 26);
            margin: 32px 0;
            font-size: 15px;
            line-height: 21px;

            strong {
                font-weight: bolder;
            }
        }

        div.div-text-registration {
            color: rgb(26, 26, 26);
            font-weight: bold;
            font-size: 26px;
            line-height: 29px;
            margin-top: 15px;
        }

        div.div-note {
            color: rgb(26, 26, 26);
            font-size: 14px;
            line-height: 18px;

            span {
                color: rgb(255, 0, 0);
            }
        }

        button.btn-submit {

            margin: 0;
            text-transform: none;
            cursor: pointer;
            overflow: visible;
            color: rgb(255, 255, 255);
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            height: 52px;
            left: calc(50% - 170px);
            top: calc(50% - 24px + 28px);
            font-size: 16px;
            font-weight: bold;
            opacity: 1;
            background: rgb(111, 190, 73);
            border-radius: 4px;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;

            &:disabled {
                opacity: 0.4;
            }

        }

        button.btn-back {
            margin: 32px 0;
            font-weight: bold;
            font-size: 16px;
            line-height: 17px;
            cursor: pointer;
            color: rgb(111, 190, 73);
            border: none;
            background-color: transparent;

            &:hover {
                opacity: 0.8;
            }
        }
    }

}