form.app-div-create {
  width: 800px;
  height: 450px;
  max-width: 100%;
  margin: auto;
  border-radius: 15px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: none;
}

@-webkit-keyframes anim {
  from {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes anim {
  from {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

form.app-div-create button.btn-closelogin {
  border: none;
  background: transparent;
  font-size: 55px;
}

form.app-div-create button.btn-closelogin a {
  text-decoration: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 0;
  right: 20px;
}

form.app-div-create button.btn-closelogin a:hover {
  color: #ffa059;
}

form.app-div-create img {
  width: 80px;
  height: 80px;
}

form.app-div-create h2 {
  color: black;
  font-size: 25px;
  font-weight: 900;
  border-bottom: 5px solid black;
  padding: 10px 0;
}

form.app-div-create div.div-create {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form.app-div-create div.div-create div.create-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form.app-div-create div.div-create div.create-left input {
  margin-top: 15px;
  padding: 0 20px;
  color: black;
  background-color: #eaeef7;
  border-radius: 10px;
  height: 45px;
  width: 250px;
  border: none;
  font-size: 15px;
}

form.app-div-create div.div-create div.create-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form.app-div-create div.div-create div.create-right input {
  margin-top: 15px;
  padding: 0 20px;
  color: black;
  background-color: #eaeef7;
  border-radius: 10px;
  height: 45px;
  width: 250px;
  border: none;
  font-size: 15px;
}

form.app-div-create button.btn-dangki {
  border: none;
  background: transparent;
  margin: 30px auto 0;
}

form.app-div-create button.btn-dangki a {
  line-height: 45px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

form.app-div-create button.btn-dangki a div {
  font-size: 14px;
  color: white;
  background-color: #ffa059;
  width: 150px;
  height: 45px;
  border-radius: 50px;
}

form.app-div-create button.btn-dangki a div:hover {
  color: #8d00ff;
}
/*# sourceMappingURL=CreateNewAccount.css.map */