div.app-div-forgot {
    width: 800px;
    height: 450px;
    max-width: 100%;
    margin: auto;
    background-color: white;
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

    button.btn-closelogin {
        border: none;
        background: transparent;
        font-size: 55px;
        
        a {
            text-decoration: none;
            transform: rotate(-45deg);
            position: absolute;
            top: 0;
            right: 20px;

            &:hover {
                color: #ffa059;
            }
        }
    }

    img {
        width: 90px;
        height: 90px;
    }

    h3 {
        padding: 20px 0;
        font-weight: 500;
    }

    p {
        font-weight: 400;
    }

    form.form-input-email {
        padding: 25px 0;

        input {
            padding: 0 20px;
            color: black;
            background-color: #eaeef7;
            border-radius: 10px;
            height: 55px;
            width: 470px;
            border: none;
            font-size: 20px;
        }
    }

    button.btn-next {
        border: none;
        background: transparent;
        margin: 0 auto 0;

        a {
            line-height: 45px;
            color: white;
            font-weight: bold;
            text-decoration: none;

            div {
                font-size: 14px;
                color: white;
                background-color: #ffa059;
                width: 150px;
                height: 45px;
                border-radius: 50px;

                &:hover {
                    color: rgb(141, 0, 255);
                }
            }
        }
    }
}
