div.inputpass-container {
  width: 500px;
  min-height: 800px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: relative;
  background-color: white;
}

div.inputpass-container div.inputpass {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
  min-height: 500px;
  margin: 0 auto;
}

div.inputpass-container div.inputpass div.div-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.inputpass-container div.inputpass div.div-logo img {
  width: 110px;
  height: 110px;
}

div.inputpass-container div.inputpass h3 {
  padding: 20px 0;
}

div.inputpass-container div.inputpass div.div-create-password {
  position: relative;
}

div.inputpass-container div.inputpass div.div-create-password input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 52px;
  margin-bottom: 10px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding-right: 40px;
  border-width: 1px;
  border-style: solid;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 4px;
  border-color: #e7e7e7;
  background: whitesmoke;
  outline: none;
  padding-left: 43px;
  position: relative;
  z-index: 1;
  background: #fff url(../../../img/icon-password.svg) no-repeat 12px 50% !important;
  overflow: visible;
}

div.inputpass-container div.inputpass div.div-create-password img {
  position: absolute;
  right: 10px;
  top: 14px;
  z-index: 30;
  vertical-align: middle;
}

div.inputpass-container div.inputpass button.btn-login {
  margin: 0;
  text-transform: none;
  cursor: pointer;
  overflow: visible;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 52px;
  left: calc(50% - 170px);
  top: calc(50% - 24px + 28px);
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
  background: #6fbe49;
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
}

div.inputpass-container div.inputpass button.btn-login:hover {
  opacity: 0.8;
}

div.inputpass-container div.inputpass div.div-option {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.inputpass-container div.inputpass div.div-option span {
  color: #6fbe49;
  font-size: 16px;
  cursor: pointer;
}

div.inputpass-container div.inputpass div.div-option span:last-child {
  font-size: 18px;
}
/*# sourceMappingURL=InputPassword.css.map */