
div.app-div-login {
    width: 800px;
    height: 450px;
    margin: auto;
    max-width: 100%;
    border-radius: 15px;
    display: flex;
    background-color: white;

    @keyframes anim {
        from {
            transform: translateY(-200%);
        }
        to {
            transform: translateY(0%);
        }
    }
    

    div.div-left{
        flex: 1;
    }

    div.div-right{
        display: flex;
        flex-direction: column;
        flex: 1;

        div.div-right-login {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            img {
                width: 90px;
                height: 90px;
            }
            
            button.btn-closelogin {
                border: none;
                background: transparent;
                font-size: 55px;
                
                a {
                    text-decoration: none;
                    transform: rotate(-45deg);
                    position: absolute;
                    top: 0;
                    right: 20px;

                    &:hover {
                        color: #ffa059;
                    }
                }
            }

            form.form-login {
                padding-top: 15px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                    
                div.email {
                    padding: 5px 15px;
                    height: 40px;
                    width: 270px;
                    display: flex;
                    border-radius: 10px;
                    background-color: #eaeef7;
                    
                    svg {
                        width: 25px;
                        height: 25px;

                        path {
                            fill: gray;
                        }
                    }

                    input {
                        font-size: 15px;
                        padding-left: 15px;
                        background-color: transparent;
                        width: 80%;
                        border: none;
                    }
                    
                }

                div.password {  
                    margin-top: 15px;
                    background-color: #eaeef7; 
                    padding: 5px 15px;
                    height: 40px;
                    width: 270px;
                    display: flex;       
                    border-radius: 10px;      

                    svg {
                        width: 25px;
                        height: 25px;

                        path {
                            fill: gray;
                        }
                    }

                    svg.fa-eye-slash {
                        display: none;
                    }

                    svg.fa-eye {
                        display: block;
                    }

                    input {
                        width: 80%;
                        font-size: 15px;
                        padding-left: 15px;
                        background-color: transparent;
                        width: 200px;
                        border: none;
                    }

                }
            }

            
            
            div.submit-login {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a.link-forgot {
                    text-decoration: none;
                    padding-top: 8px;
                    padding-bottom: 15px;
                    align-self: flex-end;
                    color: gray;
                    font-size: 15px;
                    transition: 0.2s;

                    &:hover {
                        color: rgb(141, 0, 255);
                    }
                }

                div.div-img {
                    position: relative;
                    padding: 15px 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    svg {
                        position: relative;
                        cursor: pointer;
                        width: 35px;
                        height: 35px;
                        margin: 0 15px;

                        &:hover {
                            path {
                                fill: rgb(141, 0, 255);
                            }
                        }

                        path {
                            fill: #ffa059;
                        }
                    }
                }

                button {
                    border: none;
                    background-color: transparent;
                    width: 270px;
                    height: 45px;

                    a {
                        line-height: 45px;
                        width: 270px;
                        height: 45px;
                        color: white;
                        font-weight: bold;
                        text-decoration: none;

                        div {
                            font-size: 17px;
                            color: white;
                            background-color: #ffa059;
                            width: 270px;
                            height: 45px;
                            border-radius: 50px;

                            &:hover {
                                color: rgb(141, 0, 255);
                            }
                        }
                    }
                }

                a.link-create-account {
                    font-size: 15px;
                    text-decoration: none;
                    color: gray;

                    &:hover {
                        color: rgb(141, 0, 255);
                    }
                }
            }
            
        }
    }

}
