$transition-hover-link-appstore-chplay: 0.3s;
$font-size-text: 26px;
$color-search: #F0F0F0;


section.app-section {
  max-width: 100%;
  display: flex;
  width: 1200px;
  padding-top: 300px;

  div.div-content-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.iuh-community {
      width: 402px;
      height: 162px;
      border: 1px solid black;
      
      /* animation text "IUH Community" */
        path {
          stroke-dasharray: 500;
          stroke-dashoffset: 500;
          animation: line-anim 3s ease forwards;
        }
        
        svg {
          animation: _fill 0.5s ease forwards 1.5s;
        }
        
        @keyframes line-anim {
          to {
            stroke-dashoffset: 0;
          }
        }
        
        @keyframes _fill {
          from{
            fill: transparent;
          }
          to {
            fill: black;
          }
        }
      /* animation text "IUH Community" */

      div.div-text-iuh {
        text-align: center;
      }

      div.div-text-community {
        text-align: center;
      }
    }

    div.link-appstore-chplay {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 80%;
      padding-top: 200px;

      h4{
        font-size: 25px;
      }

      div.div-link-appstore-chplay {
        padding-top: 25px;
        display: flex;
        
        a.link-appstore {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 220px;
          height: 65px;

          :hover{
            transition: $transition-hover-link-appstore-chplay;
            opacity: 0.8;
          }

          img.App-logo-appstrore {
            width: 100%;
            height: 100%;
          }
        }

        a.link-chplay {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 220px;
          height: 65px;

          :hover{
            transition: $transition-hover-link-appstore-chplay;
            opacity: 0.8;
          }

          img.App-logo-ggplay {
            width: 95%;
            height: 85%;
          }
        }
      }
    }
  }

  div.div-content-right {
    width: 100%;  

    :first-child {
      align-items: end;
    }

    div.div-event {
      padding-left: 55px;

      h3 {
        font-size: 30px;
      }

      div.div-hollow {
        margin-top: 5px;
        height: 400px;
        width: 405px;
        border: 1px solid black;
      }
    }

    div.div-right-text-chplay {
      padding-top: 10px;
      height: 80px;
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;

      h4 {
        font-size: 25px;
      }
    }
  }
}
  
  
  
  // div.img-apple {
  //   padding: 5px 15px;
  //   width: 38px;
  //   height: 53px;
  // }
  
  // div.img-apple svg path  {
  //   fill: white;
  // }
  
  
  
  /* carousel */
  div.item {
    height: 400px;
    width: 100%;
    /* background-color: aqua; */
  }
  
  .owl-nav {
    position: absolute;
    width: 100%;
    bottom: 185px;
    display: flex;
    justify-content: space-between;
  
  }
  
  .owl-nav button:hover {
    background-color: gray !important;
  }
  
  .owl-nav button {
    border-radius: 50% !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    height: 50px;
    width: 50px;
    margin: 0 !important;
    display: inline-block;
    line-height: 50px !important;
    text-align: center;
    outline: none;
  }
  
  .owl-nav button span {
    font-size: 38px;
    display: block;
  }
  /* carousel */
  
 
   
  // div.owl-nav button.owl-prev span {
  //   overflow: hidden !important;
  // }
 
// Mobile
@media only screen and (max-width: 739px) {
  section.app-section {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    div.div-content-left {

      div.iuh-community {
        position: relative;
        top: 80px;
      }

      div.link-appstore-chplay {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 550px;

        div.div-link-appstore-chplay {
          
          a.link-appstore {
            width: 200px;
            height: 50px;
            margin-right: 20px;
          }

          a.link-chplay {
            width: 200px;
            height: 50px;
          }
        }
      }
    }

    div.div-content-right {
      position: relative;
      top: -150px;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div.div-event {
        padding: 0 0;
      }
    }
  }
}

// Tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) { 
} 

// PC resolution and PC
@media only screen and (min-width: 1024px) {    
}

  
  
 
  
  
  
  
 
